main{
    max-width: 535px;
    margin: 23px auto;
    background: $Very-Dark-Desaturated-Blue;
    border-radius: 5px;
    box-shadow: 1px 15px 20px 0px;
    color: rgba(10, 10, 10, 0.733);

    li{
        width: 100%;
        padding: 22px 0 22px 80px;
        color: $Light-Grayish-Blue1;
        position: relative;
        border-bottom: 1px solid $Very-Dark-Grayish-Blue ; 
        cursor: pointer;
        transition: 0.5s;
        &::before{
            content: "";
            position: absolute;
            height: 25px;
            width: 25px;
            border-radius: 50px;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            border: 1px solid $Very-Dark-Grayish-Blue;
        }
            &::after{
                content: url(../images/icon-cross.svg);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
                display: none;
            }
            &:hover{
                &::after{
                    display: flex;
                }
            }
            &:hover{
                &::before{
                    border: 1px solid;
                    border-top-color:rgba(109,206,249,1);
                    border-left-color: rgba(109,206,249,1);
                    border-right-color: rgba(233,157,229,1);
                    border-bottom-color: rgba(233,157,229,1);
                }
            }

    }

    li.checked{
        text-decoration: line-through;
        color: $Dark-Grayish-Blue1;
        position: relative;

        &::before{
            display: flex;
            align-items: center;
            justify-content: center;
            content:  url(../images/icon-check.svg);
            position: absolute;
            height: 25px;
            width: 25px;
            border-radius: 50px;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            border: 1px solid $Very-Dark-Grayish-Blue;
            background: $Check-Background;
        }
    }
    .footer-main{
        display: flex;
        padding: 22px 0 22px 0px;
        justify-content: space-around;

        p{
            font-size: 0.9rem;
            color:  $Dark-Grayish-Blue1;
            span{
                font-size: 0.9rem;
            }
        }
        input[type="button"]{
            background-color: transparent;
            border: none;
            cursor: pointer;
            transition: 0.15s;
            font-size: 0.950rem;
            padding-left: 10px;
            color:  $Dark-Grayish-Blue1;
        
            &:hover{
                color: $Bright-Blue;
                font-family: $font1;
            }
            &:active{
                color: $Bright-Blue;
            }
        }
        
    }
}