@font-face {
  font-family: "jose-bold";
  src: url(../fonts/JosefinSans-Bold.ttf);
}

@font-face {
  font-family: "jose-regular";
  src: url(../fonts/JosefinSans-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: jose-regular, sans-serif;
  font-size: 1.120rem;
  letter-spacing: -1px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

li {
  list-style: none;
}

body {
  background-color: #161722;
  background-image: url(../images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-position: top;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  body {
    max-width: 600px;
  }
}

header {
  max-width: 535px;
  margin: 0 auto;
}

header .title-imgSunMoon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px auto 40px auto;
}

header .title-imgSunMoon h1 {
  font-size: 2.25rem;
  text-transform: uppercase;
  letter-spacing: 15px;
  font-family: jose-bold, sans-serif;
  color: #fafafa;
}

header .title-imgSunMoon .light-dark-mode {
  cursor: pointer;
}

header .title-imgSunMoon #moon {
  display: none;
}

header #item {
  background: #25273c;
  border: none;
  width: 100%;
  padding: 22px 0 22px 80px;
  border-radius: 5px;
  color: #cacde8;
  position: relative;
}

header #item:focus {
  caret-color: #3a7bfd;
  outline: none;
}

header #item::-webkit-input-placeholder {
  color: #777a92;
}

header #item:-ms-input-placeholder {
  color: #777a92;
}

header #item::-ms-input-placeholder {
  color: #777a92;
}

header #item::placeholder {
  color: #777a92;
}

header form {
  position: relative;
}

header form::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
  border: 1px solid #393a4c;
  z-index: 200;
}

@media screen and (max-width: 535px) {
  header {
    max-width: 375px;
  }
}

main {
  max-width: 535px;
  margin: 23px auto;
  background: #25273c;
  border-radius: 5px;
  -webkit-box-shadow: 1px 15px 20px 0px;
          box-shadow: 1px 15px 20px 0px;
  color: rgba(10, 10, 10, 0.733);
}

main li {
  width: 100%;
  padding: 22px 0 22px 80px;
  color: #cacde8;
  position: relative;
  border-bottom: 1px solid #393a4c;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main li::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
  border: 1px solid #393a4c;
}

main li::after {
  content: url(../images/icon-cross.svg);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  display: none;
}

main li:hover::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main li:hover::before {
  border: 1px solid;
  border-top-color: #6dcef9;
  border-left-color: #6dcef9;
  border-right-color: #e99de5;
  border-bottom-color: #e99de5;
}

main li.checked {
  text-decoration: line-through;
  color: #777a92;
  position: relative;
}

main li.checked::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  content: url(../images/icon-check.svg);
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
  border: 1px solid #393a4c;
  background: linear-gradient(153deg, #6dcef9 0%, #3eabe9 0%, #e99de5 100%);
}

main .footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 22px 0 22px 0px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

main .footer-main p {
  font-size: 0.9rem;
  color: #777a92;
}

main .footer-main p span {
  font-size: 0.9rem;
}

main .footer-main input[type="button"] {
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  font-size: 0.950rem;
  padding-left: 10px;
  color: #777a92;
}

main .footer-main input[type="button"]:hover {
  color: #3a7bfd;
  font-family: jose-bold, sans-serif;
}

main .footer-main input[type="button"]:active {
  color: #3a7bfd;
}

@media screen and (max-width: 535px) {
  main .footer-main .buttonFooter {
    position: absolute;
    top: 100px;
    padding: 22px 0 22px 80px;
    background: #25273c;
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 1px 7px 14px;
            box-shadow: 1px 7px 14px;
  }
}

@media screen and (max-width: 535px) {
  main {
    max-width: 375px;
  }
}

body.light {
  background-color: #fafafa;
  background-image: url(../images/bg-desktop-light.jpg);
}

body.light #item {
  background: #fafafa;
  color: #484b6a;
}

body.light #item::-webkit-input-placeholder {
  color: #9394a5;
}

body.light #item:-ms-input-placeholder {
  color: #9394a5;
}

body.light #item::-ms-input-placeholder {
  color: #9394a5;
}

body.light #item::placeholder {
  color: #9394a5;
}

body.light form::before {
  border: 1px solid #e4e5f1;
}

body.light main {
  background: #fafafa;
  color: rgba(161, 157, 157, 0.733);
}

body.light main li {
  color: #484b6a;
  border-bottom: 1px solid #e4e5f1;
}

body.light main li::before {
  border: 1px solid #e4e5f1;
}

body.light main li:hover::before {
  border: 1px solid;
  border-top-color: #6dcef9;
  border-left-color: #6dcef9;
  border-right-color: #e99de5;
  border-bottom-color: #e99de5;
}

body.light main li.checked {
  color: #cacde8;
}

body.light main .footer-main p {
  color: #777a92;
}

body.light main .footer-main input[type="button"] {
  color: #777a92;
}

body.light main .footer-main input[type="button"]:hover {
  color: #3a7bfd;
  font-family: jose-bold, sans-serif;
}

@media screen and (max-width: 535px) {
  body.light main .footer-main .buttonFooter {
    background: #fafafa;
    -webkit-box-shadow: 1px 7px 14px;
            box-shadow: 1px 7px 14px;
  }
}

footer {
  max-width: 535px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #777a92;
}

footer p {
  padding: 30px 0 50px 0;
  font-size: 0.9rem;
}

@media screen and (max-width: 535px) {
  footer p {
    padding-top: 100px;
  }
}

footer a, footer a:visited {
  color: #777a92;
}
/*# sourceMappingURL=index.css.map */